<div class="main-container">
  <p class="custom-header" role="heading">Where to find what...</p>
  <div class="custom-grid">
    <div class="custom-box">
      <div class="custom-box-header"><b>Tutorials ↗</b></div>
      <div class="text-container">
        <a href='https://learn.brightway.dev/'>learn.brightway.dev</a>
      </div>
    </div>
    <div class="custom-box">
      <div class="custom-box-header"><b>How-To</b></div>
      <div class="text-container">
	      {% if read_the_docs_build %}
	      <a href=/{{language}}/{{read_the_docs_version}}/content/gallery/ >Section: Gallery</a>
	      {% else %}
	      <a href="/content/gallery/" >Section: Gallery</a>
	      {% endif %}
      </div>
    </div>
    <div class="custom-box">
      <div class="custom-box-header"><b>Explanation</b></div>
      <div class="text-container">
	      {% if read_the_docs_build %}
	      <a href=/{{language}}/{{read_the_docs_version}}/content/lca/ >Section: LCA</a>
	      {% else %}
	      <a href="/content/lca/" >Section: LCA</a>
	      {% endif %}
      </div>
    </div>
    <div class="custom-box">
      <div class="custom-box-header"><b>Reference</b></div>
      <div class="text-container">
	      {% if read_the_docs_build %}
	      <a href=/{{language}}/{{read_the_docs_version}}/source/api/ >Section: API</a>
	      {% else %}
	      <a href="/source/api/" >Section: API</a>
	      {% endif %}
      </div>
    </div>
  </div>
</div>
