html[data-theme="light"] {
    --pst-color-primary: #2b2b2b;
    --pst-color-surface: #e8f7f6;
    --pst-color-on-surface: #45bfb0;
    --pst-color-info: #45bfb0;
}

html[data-theme="dark"] {
    --pst-color-primary: #45bfb0;
    --pst-color-info: #45bfb0;
}